 <script type="text/javascript">
/*
SUBJECT:    A nice little carousel, like when we we were kids v1.4
RELEASED:   06.12.2013
UPDATED:    17.03.2015
AUTHOR:     feddyups at Webatect Networks, on behalf of Tricky3 Web Mangling
EMAIL:      feddyups@gmail.com, rick@tricky3.co.uk
WEBSITE:    http://www.freelancer.com/u/feddyups.html
SUPPORT:    http://tricky3.co.uk/
*/

function debounce(func, wait, immediate) {
  var timeout;
  return function() {
    var context = this, args = arguments;
    var later = function() {
      timeout = null;
      if (!immediate) func.apply(context, args);
    };
    var callNow = immediate && !timeout;
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
    if (callNow) func.apply(context, args);
  };
};

(function ($) {
  $.fn.carousel = function ($settings) {
    return this.each(function () {
      // Variables
      var settings = $.extend({
        timerDuration: 5000,
        animationDuration: 800,
        useSwipeGestures: true,
        useTimer: true
      },
      $settings
    );
    var self = this;
    var slides = [];
    var timer = 0;
    var current_slide = 0;
    var is_animating = false;
    var loading_bar_percent = 0;
    var loading_bar_timer = 0;
    // Constructor, pagination included anyway, as the load is insignificant. After all, we ARE on a giant's shoulders, aren't we?
    function constructor() {
      // get slides
      $(self).find('div.slides > div').each(function (index) {
        if (index !== 0) {
          $(this).hide();
        }
        slides.push(this);
      });
      $(self).find('.pagination a:eq(0)').addClass('active');
      $(self).find('.mobile-pagination a:eq(0)').addClass('active');
      // set tiling background-images on homepage, or set background color
      
        for (var i = 0; i < slides.length; i++) {
          var image_src = $(slides[i]).find('img').prop('src');
          //var small_screen_src = $(slides[i]).find('a').data('smallscreen');
          var repeating_value = $(slides[i]).find('a').data('repeat');
          var dataSmallScreen = $(slides[i]).find('a').attr('smallscreen');
          //getting the value as a string
          var repeating_bgcolor = $(slides[i]).find('a').attr("data-bgcolor");
          if ((!repeating_value) && (repeating_bgcolor !== undefined)) {
            $(slides[i]).css({
              'background-color': repeating_bgcolor + ''
            });
          }
          if ((image_src !== undefined) && (repeating_value)) {
            $(slides[i]).css({
              'background-image': 'url(' + image_src + ')',
              'background-position': 'center',
              'background-repeat': 'repeat-x'
            });
            $(slides[i]).addClass("removebgformobiles");
          }
        }
        $(self).append('<div class="loading-bar"></div>');
      
      // events
      $(self).find('.menu .next a').bind('click', next);
      $(self).find('.menu .prev a').bind('click', prev);
      $(self).find('.pagination a').bind('click', jump);
      $(self).find('.mobile-pagination a').bind('click', jump);
      // show
      $(self).show();
      // resize
      window.addEventListener('resize', resize);

      if ("onorientationchange" in window) {
        if (!window.addEventListener) {
          window.attachEvent("orientationchange", function () {
            resize();
          });
        } else {
          window.addEventListener("orientationchange", function () {
            resize();
          }, false);
        }
      }
      resize();
      // swipe gestures
      if (settings.useSwipeGestures) {
        $(self).find('div.slides').bind('swipeleft', next);
        $(self).find('div.slides').bind('swiperight', prev);
      }
      // timer
      changeSlideComplete(0);
    }
    // Change Slide
    function changeSlide($key) {
      if (!is_animating && current_slide !== $key) {
        clearTimeout(timer);
        is_animating = true;
       
          var image_src = $(slides[$key]).find('img').data('src');
          /*if(image_src === undefined){
            image_src = $(slides[$key]).find('img').attr('src');
          }*/
          var repeating_value = $(slides[$key]).find('a').data('repeat');
          var dataSmallScreen = $(slides[$key]).find('a').data('smallscreen');
          var repeating_bgcolor = $(slides[$key]).find('a').attr("data-bgcolor");
          if (image_src !== undefined && image_src !== false) {
            var image = new Image();
            preloaderStart();
            image.onload = function () {
              $(slides[$key]).find('img').prop('src', image_src).data('src', false);
              if ((repeating_bgcolor !== undefined) && (!repeating_value)) {
                //console.log('For further indexing');  
                $(slides[$key]).css({
                  'background-color': repeating_bgcolor + ''
                });
              }
              //Repeating Value Overrides the bgcolor set at all times
              if (repeating_value) {
                $(slides[$key]).css({
                  'background-image': 'url(' + image_src + ')',
                  'background-position': 'center',
                  'background-repeat': 'repeat-x'
                });
                $(slides[$key]).addClass("removebgformobiles");
              }
              animateInSlide($key);
              preloaderDone();
            }
            image.src = image_src;
            return;
          }
       
        animateInSlide($key);
      }
    }

    function animateInSlide($key) {
      $(self).find('.pagination a.active').each(function () {
        $(this).removeClass('active');
      });
      $(self).find('.pagination a:eq(' + $key + ')').each(function () {
        $(this).addClass('active');
      });
      $(self).find('.mobile-pagination a.active').each(function () {
        $(this).removeClass('active');
      });
      $(self).find('.mobile-pagination a:eq(' + $key + ')').each(function () {
        $(this).addClass('active');
      });
      for (var i = 0; i < slides.length; i++) {
        if (i === $key) {
          $(slides[i]).fadeIn({
            complete: function () {
              changeSlideComplete($key);
            },
            duration: settings.animationDuration,
            easing: 'swing'
          });
        } else {
          $(slides[i]).fadeOut({
            duration: settings.animationDuration,
            easing: 'swing'
          });
        }
      }
    }

    function changeSlideComplete($key) {
      current_slide = $key;
      is_animating = false;
      if (settings.useTimer) {
        timer = setTimeout(function () {
          next();
        }, settings.timerDuration);
      }
    }
    // Click Events
    function jump() {
      var index = $(self).find('.pagination a').index(this);
      index = (index < 0) ? $(self).find('.mobile-pagination a').index(this) : index;
      if (index > -1) {
        changeSlide(index);
      }
      return false;
    }

    function next() {
      var index = current_slide + 1;
      index = (index >= slides.length) ? 0 : index;
      changeSlide(index);
      return false;
    }

    function prev() {
      var index = current_slide - 1;
      index = (index < 0) ? slides.length - 1 : index;
      changeSlide(index);
      return false;
    }
    // Resize
    var resize = debounce(function() {
      var win_width = $(window).width();
      var win_height = $(window).height();
      var img_width, img_height, img_ratio, img_unit;
      var theImgWidth       = $('#home_feature').data("normalwidth");
      var theImgHeight      = $('#home_feature').data("normalheight");
      var theMobileImgWidth = $('#home_feature').data("mobilewidth");
      var theMobileImgHeight = $('#home_feature').data("mobileheight");
      var theMobileImgWidthX2 = theMobileImgWidth/2;
      var theMobileImgHeightX2 = theMobileImgHeight/2;
      var inverseAspect = theImgHeight/theImgWidth;
      //console.log('inverseAspect '+inverseAspect);
      //console.log('theImgWidth '+theImgWidth);
      //console.log('theMobileImgWidthX2 '+theMobileImgWidthX2);
      //console.log('theImgWidth '+theImgWidth);
      //console.log('theMobileImgWidth '+theMobileImgWidth);
      //console.log('theMobileImgWidthX2 '+theMobileImgWidthX2);
        //img_width = theImgWidth;
        //img_height = theImgHeight;
        //X2 images, mobile view
        if (win_width <= theMobileImgWidthX2) {
          img_width = theMobileImgWidthX2;
          img_height = theMobileImgHeightX2;
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'block';
          var desktopHide = 'none';
          //console.log('X2 for mobile: Img Width '+theMobileImgWidthX2+' Image Height: '+theMobileImgHeightX2);
          //Mobile View
        } else if ((win_width <= theMobileImgWidth) && (win_width > theMobileImgWidthX2)) {
          img_width = theMobileImgWidth;
          img_height = theMobileImgHeight;
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'block';
          var desktopHide = 'none';
          //console.log('mobile: Img Width '+theMobileImgWidth+' Image Height: '+theMobileImgHeight);
          //Between Mobile and Full Desktop View
        } else if ((win_width < theImgWidth) && (win_width > theMobileImgWidth)) {
          img_width = win_width;
          img_height = ((inverseAspect) * (win_width));
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'none';
          var desktopHide = 'block';
          //console.log('desktop small: Img Width '+img_width+' Image Height: '+img_height);
          //Higher than the image view
        }else if (win_width >= theImgWidth) {
          img_width = theImgWidth;
          img_height = theImgHeight;
          img_width *= 1;
          img_height *= 1;
          var mobileHide = 'none';
          var desktopHide = 'block';
        }
         
        $(self).find('div.loading-bar').css({
          top: 0 // img_height - 3
        });
        $(self).find('div.slides').css({
          height: img_height
        });
        $(self).find('div.slides > div').css({
          width: '100%',
          height: img_height
        });
        $(self).find('div.slides > div > div').css({
          width: img_width,
          height: img_height,
          marginLeft: img_width * -0.5
        });

        $(self).find('div.slides > div > div > a img:nth-child(3)').css("display", mobileHide);
        $(self).find('div.slides > div > div > a img:nth-child(2)').css("display", desktopHide);
    }, 250);


    

    // Progress Bar
    function preloaderStart() {
      loading_bar_percent = 0;
      $(self).find('div.loading-bar').css({
        width: '0%'
      }).show();
      preloaderNext();
    }

    function preloaderNext() {
      clearTimeout(loading_bar_timer);
      loading_bar_percent += 8;
      if (loading_bar_percent < 100) {
        $(self).find('div.loading-bar').css({
          width: loading_bar_percent + '%'
        });
        loading_bar_timer = setTimeout(function () {
          preloaderNext();
        }, 500);
      }
    }

    function preloaderDone() {
      clearTimeout(loading_bar_timer);
      loading_bar_percent = 100;
      $(self).find('div.loading-bar').css({
        width: loading_bar_percent + '%'
      }).delay(500).fadeOut();
    }
    // Init
    constructor();
  });
};
})(jQuery);
   
   
// Get Set, let's go 
var Initiated = function(){
  var dataShowPagination      = $('#home_feature_images').data("showpagination"),
      home_slides             = '',
      home_pagination         = '',
      home_mobile_pagination  = '';
  
  $('#home_feature_images a').each(function (index) {
    
        var self            = this,
        dataHeadline        = $(self).data("headline"),
        dataLead            = $(self).data("lead"),
        dataAlignment       = $(self).data("alignment"),
        dataBoxStyle        = $(self).data("style"),
        dataShowTextBox     = $(self).data("showformobile"),
        dataShowForDesktop  = $(self).data("showfordesktop"),
        dataPrompt          = $(self).data("prompt"),
        dataSrc             = $(self).find('img').attr("src"),
        dataAlt             = $(self).find('img').attr("alt"),
        dataRepetition      = $(self).data("repeat"),
        dataSmallScreen     = $(self).data("smallscreen"),
        dataBgColor         = $(self).data("bgcolor"),
        headline_html       = '',
        prompt_html         = '',
        smallscreenclass    = 'smalldisabled',
        showformobile       = 'centerformobile',
        divsmallscreenclass = 'smalldisablediv',
        showfordsktp        = '',
        additionalimage     = '';

        console.log('dataBgColor'+dataBgColor);

    if (dataHeadline) {
      headline_html = '<div class="framed">'+dataHeadline+'</div>';
    }
    
    if (dataPrompt) {
      prompt_html = '<span class="leftspanned inthelink">&lt;</span>'+dataPrompt+'<span class="rightspanned inthelink">&gt;</span>';
    } 
   
    if (dataSmallScreen) {
      smallscreenclass='largealternative',
      divsmallscreenclass='smallenablediv',
      additionalimage = '<img class="mobilescreen" src="' + dataSmallScreen + '" alt="' + dataAlt + '" />';
    } 
    
    if (dataShowTextBox) {
      showformobile='hideformobile';
    } 

    if (dataShowForDesktop) {
      showfordsktp='hideoverlay';
    } 

    if (dataBgColor.length === 0) {
      console.log('undefined dataBgColor'+dataBgColor);
      dataBgColor='undefined';
    }

    if (dataSrc === undefined) {
      dataSrc = $(self).find('img').data("src");
    }
                             
    home_slides += '<div>'
    home_slides += '<div>';
    home_slides += '<a class="'+divsmallscreenclass+'" data-bgcolor="' + dataBgColor + '" data-smallscreen="'+ dataSmallScreen +'" data-repeat="' + dataRepetition + '" href="' + $(self).attr("href") + '">';
    home_slides += '<div class="textoverlay '+dataAlignment+' '+showfordsktp+' '+showformobile+' '+dataBoxStyle+'">';
    home_slides += '<div class="encircle">';
    home_slides += '<div class="tightwidth">' + headline_html ;
    home_slides += '<div class="unframed">'+dataLead+'</div>';
    home_slides += '<div class="linkprompt">'+prompt_html+'</div>';
    home_slides += '</div></div></div>';
    home_slides += '<img class="swapper '+smallscreenclass+'" src="' + dataSrc + '" alt="' + dataAlt + '" />'+additionalimage;
    home_slides += '</a>';
    home_slides += '</div>'
    home_slides += '</div>';
                 
    if (dataShowPagination) {
      home_pagination += '<li><a>' + dataAlt + '</a><span>/</span></li>';
      home_mobile_pagination += '<li><a>&bull;</a></li>';
    }
  });
  $('#home_feature_images').remove();
  $( "#home_feature" ).fadeTo( "fast" , 1, function() {});

  if (dataShowPagination) {
    $('#home_feature').prepend('<div id="home-carousel" class="carousel"><div class="slides">' + home_slides + '</div><div class="paginationwrap"><ul class="menu"><li class="prev"><a></a></li><li class="next"><a></a></li></ul><ul class="pagination">' + home_pagination + '</ul><ul class="mobile-pagination">' + home_mobile_pagination + '</ul></div></div>');
  }
  else {
    $('#home_feature').prepend('<div id="home-carousel" class="carousel"><div class="slides">' + home_slides + '</div></div>');
  }
  // Initiate carousel
  $('#home-carousel').carousel({
        timerDuration: {{ settings.slider_timerDuration }},
        animationDuration: {{ settings.slider_animDuration }},
        useSwipeGestures: true,
        useTimer: {{ settings.slider_autoPlay }}
  });
};
if ($('#home_feature_images a').length > 0) {$(document).ready(function () {Initiated();});}
</script>